* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.frame {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 480px;
  height: 480px;
  border: 6px solid #000;
}

.row1,
.row3 {
  position: relative;
  width: 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.row2 div {
  border: 1px solid #000;
}