.contact-design {
  color: white;
  font-size: 1.2rem;
  margin: 20px auto 0;
  width: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  text-align: start;
  padding: 20px;

  h3 {
    font-size: 2.5rem;
  }

  #contact-options-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;

    #contact-options {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(110%);
        }
      }

      .bi::before {
        padding: 10px;
        color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2rem;
        border-radius: 50%;

      }
    }
  }
}

#form-container {
  width: 100%;

  form input {
    width: 100%;
    border: 2px solid #18c9e8;
    border-radius: 5px;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }

  #send {
    width: 30%;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #18c9e8;
    opacity: .7;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

footer .copyright {
  display: block;
  position: absolute;
  bottom: -35px;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

@include s-mobile {
  .contact-design {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 0;
    flex-direction: column;

    form input {
      width: 100%;
    }
  }

  #contact-options {
    align-items: center;
    justify-content: space-around;
  }

  #contact-options-design {
    text-align: center;
  }
}