.container-design {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #111;
  padding: 20px;

  h3 {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    display: inline;
  }

  .card-design {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 3rem;
    padding: 20px 0;

    a {
      text-decoration: none;
    }

    .card {
      overflow: hidden;
      background-color: #1f1f1f;
      transition: transform .2s ease-in-out, box-shadow .4s ease-in-out;
      border-radius: 10px;
      padding: 10px;

      &:hover {
        transform: scale(105%);
        box-shadow: 0 0 10px white;
      }

      .card-image-container {
        transition: transform .2s ease-in-out;
        overflow: hidden;
        border-radius: 10px;

        .img-design {
          width: 100%;
          height: 100%;
        }
      }

      .card-title,
      .card-text {
        color: #dbdada;
      }

      .btn {
        border: none;
        color: black;
        background-color: #18c9e8;
      }
    }
  }
}