.header {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.569);
  background-color: #c5c5c584;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: max-content;
  z-index: 5;

  a {
    color: white;
  }
}

.navbar-nav {
  padding-left: 10%;
  gap: 20px;
}

.profile {
  display: block;
  position: absolute;
  top: 6px;
  right: 5%;
  font-family: cursive;
}

@include s-mobile {
  .navbar-nav {
    padding: 20px;
  }
}