.project-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;

  .project-info {
    border: 1px solid #000;

    h1 {
      color: $mainColor;
      font-size: 4rem;
    }

    p {
      font-size: 1.2rem;
      color: white;
    }

    .download-button {
      text-decoration: none;
      color: #1f1f1f;
      font-size: 1.2rem;
      padding: 5px 0;
      border-radius: 5px;
      background-color: $mainColor;
      text-align: center;
      transition: opacity .1s ease-in-out;
      border-radius: 20px;
    }
  }
}

.project-link {
  width: 800px;
  height: 450px;
  background-image: url(../Images/coffeeth.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.technologies-container-projects {
  top: 6rem;
  justify-content: space-evenly;
}