$mainColor: rgba(0, 255, 255, 0.839);
$l-mobile: 1600px;
$s-mobile: 992px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #111;
}

#border {
  margin: 0 auto;
  border-top: .5px solid #ffffff;
  background-color: #333;
  filter: blur(1px);
  width: 70%;
}

@mixin l-mobile {
  @media screen and (max-width: $l-mobile) {
    @content;
  }
}

@mixin s-mobile {
  @media screen and (max-width: $s-mobile) {
    @content;
  }
}

@import "header";

@import "intro";

@import "projects";

@import "info";

@import "contact";

@import "gallery";

@import "projectPage";