$mainColor: #00ffff;
$l-mobile: 1600px;
$s-mobile: 992px;
$xs-mobile: 512px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: rgb(48, 48, 48);
  background: radial-gradient(circle, rgba(48, 48, 48, 1) 0%, rgba(17, 17, 17, 1) 100%);
}

#border {
  margin: 0 auto;
  border-top: .5px solid #ffffff;
  background-color: #333;
  filter: blur(1px);
  width: 70%;
}

@mixin l-mobile {
  @media screen and (max-width: $l-mobile) {
    @content;
  }
}

@mixin s-mobile {
  @media screen and (max-width: $s-mobile) {
    @content;
  }
}

@mixin xs-mobile {
  @media screen and (max-width: $xs-mobile) {
    @content;
  }
}

@import "header";

@import "intro";

@import "technologies";

@import "info";

@import "contact";

@import "gallery";

@import "projectPage";