* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: rgb(48, 48, 48);
  background: radial-gradient(circle, rgb(48, 48, 48) 0%, rgb(17, 17, 17) 100%);
}

#border {
  margin: 0 auto;
  border-top: 0.5px solid #ffffff;
  background-color: #333;
  filter: blur(1px);
  width: 70%;
}

.header {
  box-shadow: 0px 0px 8px 2px rgb(255, 255, 255);
  background-color: rgba(197, 197, 197, 0.5176470588);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  z-index: 5;
}
.header a {
  color: white;
}

.navbar-nav {
  padding-left: 10%;
  gap: 20px;
}

.profile {
  display: block;
  position: absolute;
  top: 6px;
  right: 5%;
  font-family: cursive;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    padding: 20px;
  }
}
#main-page .intro {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 6rem;
  text-align: center;
}
#main-page .intro h1 {
  color: #00ffff;
  font-size: 4rem;
  font-weight: bold;
}
#main-page .intro p {
  color: white;
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  #main-page .intro h1 {
    font-size: 3.8rem;
  }
  #main-page .intro p {
    font-size: 1.2rem;
  }
}
.technologies-container {
  position: absolute;
  top: 13.5rem;
  left: 0;
  right: 0;
  width: 1000px;
  background-color: #888;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 5px black;
}
.technologies-container img {
  width: 68px;
  height: 60px;
  transition: transform 0.2s ease-in-out;
}
.technologies-container img:hover {
  transform: scale(110%);
}

@media screen and (max-width: 992px) {
  .technologies-container {
    width: 500px;
  }
}
@media screen and (max-width: 512px) {
  .technologies-container {
    width: 400px;
  }
}
.personal-info-container {
  width: 100%;
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  background-color: #333;
}

.personal-info-container > div {
  width: 70%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: start;
  padding: 20px;
}
.personal-info-container > div h2 {
  color: #00ffff;
  font-size: 4rem;
  font-weight: bold;
}
.personal-info-container > div p {
  color: white;
}
.personal-info-container > div a {
  text-decoration: none;
  font-size: 1.3rem;
  background-color: #00ffff;
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  text-align: center;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.personal-info-container > div a:hover {
  background-color: #222;
  color: white;
}

@media screen and (max-width: 992px) {
  .personal-info-container {
    padding-top: 3rem;
  }
  .personal-info-container > div {
    width: 90%;
    flex-direction: column;
  }
  .personal-info-container > div h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 512px) {
  .personal-info-container {
    padding-top: 6rem;
  }
}
.contact-design {
  color: white;
  font-size: 1.2rem;
  margin: 20px auto 0;
  width: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  text-align: start;
  padding: 20px;
}
.contact-design h3 {
  color: #00ffff;
  font-size: 2.5rem;
}
.contact-design #contact-options-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.contact-design #contact-options-design #contact-options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-design #contact-options-design #contact-options div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
.contact-design #contact-options-design #contact-options div:hover {
  transform: scale(110%);
}
.contact-design #contact-options-design #contact-options .bi::before {
  padding: 10px;
  color: #00ffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  border-radius: 50%;
}

#form-container {
  width: 100%;
}
#form-container form input,
#form-container #note {
  color: white;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.4666666667);
  border: 1px solid #00ffff;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}
#form-container form input:focus,
#form-container #note:focus {
  outline: none;
}
#form-container #send {
  color: black;
  width: 30%;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #18c9e8;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
#form-container #send:hover {
  opacity: 0.7;
}

footer .copyright {
  display: block;
  position: absolute;
  bottom: -35px;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

@media screen and (max-width: 992px) {
  .contact-design {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 0;
    flex-direction: column;
  }
  .contact-design form input {
    width: 100%;
  }
  #contact-options {
    align-items: center;
    justify-content: space-around;
  }
  #contact-options-design {
    text-align: center;
  }
}
.container-design {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.container-design h3 {
  color: #00ffff;
  font-size: 4rem;
  font-weight: 700;
  display: inline;
}
.container-design .card-design {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 3rem;
  padding: 20px 0;
}
.container-design .card-design a {
  text-decoration: none;
}
.container-design .card-design .card {
  overflow: hidden;
  background-color: #1f1f1f;
  transition: transform 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
  border-radius: 10px;
  padding: 10px;
}
.container-design .card-design .card:hover {
  transform: scale(105%);
  box-shadow: 0 0 10px white;
}
.container-design .card-design .card .card-image-container {
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}
.container-design .card-design .card .card-image-container .img-design {
  width: 100%;
  height: 100%;
}
.container-design .card-design .card .card-title,
.container-design .card-design .card .card-text {
  color: #dbdada;
}
.container-design .card-design .card .btn {
  border: none;
  color: black;
  background-color: #18c9e8;
}

.project-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;
}
.project-container .project-info {
  border: 1px solid #000;
}
.project-container .project-info h1 {
  color: #00ffff;
  font-size: 4rem;
}
.project-container .project-info p {
  font-size: 1.2rem;
  color: white;
}
.project-container .project-info .download-button {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 1.2rem;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #00ffff;
  text-align: center;
  transition: opacity 0.1s ease-in-out;
  border-radius: 20px;
}

.project-link {
  width: 800px;
  height: 450px;
  background-image: url(../Images/coffeeth.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.technologies-container-projects {
  top: 6rem;
  justify-content: space-evenly;
}/*# sourceMappingURL=main.css.map */